.layout-switch {
	position: fixed;
	top: 0;
	padding: 14px;
	h2 {
		display: block;
		.font--intertitle;
		color: @black;
		margin: 0;
	}
	h3 {
		.font--title;
		color: @black;
		margin: 0;
		display: none;
		&.is-active {
			display: block;
		}
	}

	.title-ctn {
		margin: 3px 0 12px 0;
	}
	.switch-button {
		.font--text;
		color: @black;
		padding: 0 20px;
		cursor: pointer;
	}
	.pagination {
		.font--text;
		color: @black;
		margin-left: -20px;
		opacity: 0;
		transform: translateY(-50%);
		transition: 160ms ease-out;
		transition-property: transform, opacity;
	}

	// ~> HOVER
	&:hover {
		.pagination {
			opacity: 1;
			transform: translateY(0);
		}
	}
}